{% extends "base.html" %}

{% block content %}
<div class="home">
  <div class="home-content">
    <div class="d-flex">
      <a class="stockfight-text-lg h1" href="{{ url_for('home') }}">stockfight</a>
    </div>
    <h2 class="headline-text">Challenge others to a stock 1v1! May the best alpha win!</h2>
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item mr-2">
        <a class="nav-link nav-text" href="{{ url_for('dashboard') }}">Sign In</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link nav-text" href="{{ url_for('sign_up') }}">Sign Up</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}