
{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center">
    <h1 class="stockfight-text">stockfight</h1>
  </div>
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link nav-text" href="{{ url_for('account') }}">Account</a>
    </li>
    <li class="nav-item ml-2 mr-2">
      <a class="nav-link nav-text" href="{{ url_for('dashboard') }}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text nav-text-active" href="{{ url_for('leaderboard') }}">Leaderboard</a>
    </li>
  </ul>
{% endblock %}